<!DOCTYPE html>
<html>
    <title>hello</title>
    <body>
        <div id="box" style="background: red; width: 100px; height: 100px;" onclick="alert('123');">
            <div><%= name %></div>
            <div><%= members[0].name %></div>
            <div><%= timestr %></div>
            <div><%= str %></div>
        </div>
    </body>
</html>
